$rozmiar-rowa: minmax(0vw, 20vw);

.menu-modal {
  &__closed-variant {
    display: none;
  }
  &__caly-container {
    grid-row: r-1 / r-10;
    grid-column: c-1 / c-12;
    // position: relative;
    display: grid;

    grid-template-rows:
      [r-1] minmax(0vw, max-content)
      [r-2] $rozmiar-rowa
      [r-3] $rozmiar-rowa
      [r-4] $rozmiar-rowa
      [r-5] $rozmiar-rowa
      [r-6] $rozmiar-rowa
      [r-7] $rozmiar-rowa
      [r-8] $rozmiar-rowa
      [r-9];

    grid-template-columns:
      [c-1] 0.6fr
      [c-2] 3fr
      [c-3] 0.6fr
      [c-4] 3fr
      [c-5] 0.6fr
      [c-6];

    z-index: 200;
    background-color: white;
    // hook1 - image blurred w tle or inner shadow chociaz w tle?

    height: 100%;

    &__loga {
      &--medical {
        grid-row: r-1 / r-2;
        grid-column: c-2 / c-3;

        position: relative;
        width: 100%;
        aspect-ratio: 1.3/1;
      }
      &--fitness {
        grid-row: r-1 / r-2;
        grid-column: c-4 / c-5;

        position: relative;
        // width: 100%;
        // aspect-ratio: 1.5/1;
      }
    }
    &__klocki {
      &--container-listujacy-klocki-lewe {
        grid-row: r-2 / r-3;
        grid-column: c-2 / c-3;
        // width: 100%;
        // aspect-ratio: 1.5/1;
        margin: 5vw 0 0 0;
        // row-gap: 5vw;
      }
      &--container-listujacy-klocki-prawe {
        grid-row: r-2 / r-3;
        grid-column: c-4 / c-5;
        // width: 100%;
        // aspect-ratio: 1.5/1;
        margin: 5vw 0 0 0;
        // row-gap: 5vw;
      }
      &--container-listujacy-klocki-srodkowe {
        grid-row: r-6 / r-7;
        grid-column: c-2 / c-5;
        // width: 100%;
        // aspect-ratio: 1.5/1;
        margin: 0vw 0 0 0;
        // row-gap: 5vw;
      }

      &--container-klocka-jednego {
        display: grid;

        grid-template-rows:
          [r-1] $rozmiar-rowa
          [r-2];

        grid-template-columns:
          [c-1] 1fr
          [c-2] 2fr
          [c-3];

        grid-auto-flow: row;
        position: relative;
        margin: 0 0 3vw 0;

        // border: none;
        // background-color: rgba(255, 255, 255, 0);

        // width: 30%;

        // aspect-ratio: /1; DYDKTOWANY PRZEZ IMAGE
        // overflow: hidden;
      }
      &--fota-btn {
        grid-row: r-1 / r-2;
        grid-column: c-1 / c-3;

        position: relative;
        z-index: 10;
        border: none;
        background-color: rgba(255, 255, 255, 0);

        &:active {
          transform: scale(1.1);
          // text-shadow: 0 0 1vw 0.2vw #3f00455b;
          // filter: drop-shadow(10);
        }
      }
      // &--svg {
      //   grid-row: r-1 / r-2;
      //   grid-column: c-1 / c-4;
      //   // background-color: aqua;
      //   color: black;
      //   // text-align: end;
      //   // justify-self: end;

      //   z-index: 5;
      // }
      &--napis {
        grid-row: r-1 / r-2;
        grid-column: c-2 / c-3;

        font-size: 3vw;
        font-weight: 600;
        letter-spacing: 0.2vw;
        align-self: center;
        text-align: center;
        color: rgb(255, 255, 255);
        z-index: 10;
      }
    }
  }
}
