.parent-Y {
  height: 400px;
  width: 1000px;
  position: relative;
  background-color: rgb(228, 195, 167);
}

.child-X {
  position: absolute;
  top: 40vh; // 40% viewport height'u
  left: 10%; // 10% rozmiaru (width w tym przypadku) parenta
  background-color: rgb(187, 228, 167);
}
