//
//  1. Variables - ogólno-apkowe
//
//      1.1. Kolory
//
//      1.2. Czcionki
//
//      1.3. Breakpointy - graniczne momenty pod zmianę rozmiarów, pod np. 4 wielkości ekranów
//

//      1.1. Kolory
@use "../../styles/sass/5-themes/infiniti-variables/infiniti-variables";
@use "../../styles/sass/1-base/typography";
//      1.2. Czcionki
@font-face {
  font-family: "gothic";
  src: url("../../../public/fonts/CenturyGothic.woff2");
}
//hook2 - /\ - remake it into universal import from typography

// $font-primary: "gothic", verdana, helvetica, sans-serif;
$font-primary: "Montserrat", sans-serif;
//
//      1.3. Breakpointy - graniczne momenty pod zmianę rozmiarów, pod np. 4 wielkości ekranów
//
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}
address {
  font-style: normal;
}
body {
  font-family: $font-primary;
  // font-family: typography.$font-secondary;
  // color: $color-grey-dark-2;
  color: infiniti-variables.$black;
  font-weight: 400;
  line-height: 1.6;
  // letter-spacing: 0.06rem;
  margin: 0;
  padding: 0;
  background-color: infiniti-variables.$dark-violet;
  background: infiniti-variables.$white;
}

a {
  text-decoration: none;
  color: infiniti-variables.$black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  &::-webkit-scrollbar {
    // display: none;
  }
}
