//
//~~ _.  Globally used backdrops - locally used backdrops are in their specific files, where they are used
//
@use "../6-abstracts/mixins";
@use "../6-abstracts/colors";
@use "../6-abstracts/variables";
@use "../1-base/base";
@use "../1-base/typography";

//hook1 - add grouping of css properties   &   get variables etc fro "base" or "abstracts"

.backdrop {
  &--black-80-opacity {
    display: grid;
    position: fixed; // not absolute, so that it covers the whole page, not just the whole screen
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(0.4rem);
    z-index: 30;
  }
  &--blur {
    backdrop-filter: blur(3rem);
  }
}
