@use "../../../styles/sass/6-abstracts/mixins";
@use "../../../styles/sass/6-abstracts/colors";
@use "../../../styles/sass/6-abstracts/variables";
@use "../../../styles/sass/1-base/typography";

.btn-potwierdz {
  &__container {
    all: unset;

    margin: 0 auto 3rem auto;
    width: 24rem;
    aspect-ratio: 6/1;
    transform: translateY(-130%);
    border-radius: variables.$border-radius-sm;
    z-index: 50;
    filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.3));

    & a {
      @include mixins.grid-with-padding-and-justify-align-items;
      grid-template-columns: 5fr 1.25fr;
      font-size: 1.1rem;
      font-weight: bold;
      color: white;
      //   filter: drop-shadow(colors.$shadow-universal);

      & > span {
        justify-self: center;
        text-align: center;
        filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.8));
      }
      & svg {
        font-size: min(2rem, 7vw);
      }
    }
    &--zielony {
      background-color: colors.$succes;
    }
    &--e-trener {
      // border-style: solid;
      // border-color: transparent;
      // background: linear-gradient(#000000, #000000) padding-box,
      //   linear-gradient(
      //       variables.$gradient-direction-secondary,
      //       colors.$gradient-third-A,
      //       colors.$gradient-third-B
      //     )
      //     border-box;
      @include mixins.gradient-cross-browser(
        "bg",
        variables.$gradient-direction-secondary,
        colors.$gradient-third-A,
        colors.$gradient-third-B
      );

      & svg {
        color: colors.$primary;
      }
    }
    &--e-trener-light {
      @include mixins.gradient-cross-browser(
        "bg",
        variables.$gradient-direction-secondary,
        colors.$gradient-third-A,
        colors.$gradient-third-B
      );
      transform: translateY(0%);
    }
  }
}
