@use "../../../styles/sass/6-abstracts/mixins";
@use "../../../styles/sass/6-abstracts/colors";
@use "../../../styles/sass/6-abstracts/variables";
@use "../../../styles/sass/1-base/typography";

.wybor-metody {
  &__container {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    // row-gap: variables.$title-content-row-gap;
    @media (orientation: landscape) {
      grid-column: 2/3;
      grid-row: 2/3;
      grid-auto-rows: max-content;
    }
  }
  &__buttony {
    display: grid;
    grid-auto-flow: column;
    column-gap: variables.$content-content-gap;
    filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.4));

    &__btn {
      padding: variables.$content-content-gap 0.5rem;
      width: min(21.5vw, 17rem);
      aspect-ratio: 1/1;

      @include mixins.gradient-cross-browser(
        "border",
        variables.$gradient-direction-secondary,
        #6e3e93,
        #6e3e93
      );
      background-color: colors.$primary;
      border-radius: variables.$border-radius-sm;
      border-width: variables.$border-width-sm;
      font-weight: normal;
      display: grid;
      overflow: hidden;

      @media (orientation: landscape) {
        width: min(21.5vw, 13rem);
      }
      & h3 {
        font-size: typography.$font-size-sm;
        @include mixins.gradient-cross-browser(
          "text",
          variables.$gradient-direction-secondary,
          #6e3e93,
          #6e3e93
        );
        font-weight: normal;
        @media (orientation: landscape) {
          font-size: typography.$font-size-micro;
        }
      }
      & div {
        display: grid;
        align-items: center;
        justify-items: center;
      }
      & a {
        height: 100%;
        display: grid;
        grid-auto-flow: row;
        align-items: center;
        justify-items: center;
        row-gap: variables.$content-content-gap * 0.5;
      }

      & svg {
        color: #6e3e93;
      }

      &--active {
        border-style: none;
        border-color: none;
        @include mixins.gradient-cross-browser(
          "bg",
          variables.$gradient-direction-secondary,
          #6e3e93,
          #6e3e93
        );

        & h3,
        svg {
          color: colors.$primary;
          -webkit-text-fill-color: colors.$primary;
          filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.4));
        }
      }
      &__icon {
        &--single {
          font-size: min(4.75rem, 7vw);
        }
        &--tripple {
          font-size: min(3rem, 3.5vw);
          width: min-content;
          display: grid;
          grid-auto-flow: column;
        }
      }
    }
  }
}
