//
//~~ _.  Globally used modals - locally used modals are in their specific files, where they are used
//
@use "../6-abstracts/mixins";
@use "../6-abstracts/colors";
@use "../6-abstracts/variables";
@use "../1-base/base";
@use "../1-base/typography";

.modal-open {
  overflow: hidden !important;
  color: white;
}

.modal {
  @mixin overlay {
    position: fixed; // not absolute, so that it covers the whole page, not just the whole screen
    height: 100%;
    width: 100%;
    z-index: 50;
    // background-color: colors.$primary;

    display: grid;
  }
  &__overlay {
    //necessary parent element for easily positioning the modal container in the middle of the screen
    @include overlay();

    &--transparent {
      @include overlay();
      // background-color: transparent;
    }
    &--dark {
      @include overlay();
      background-color: colors.$secondary;
    }
  }
  @mixin modal-container() {
    padding: 2rem;
    z-index: 300;
    // border-radius: 2rem;
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 2rem;

    //style for the "close modal" buttons
    & > button {
      width: 5rem;
      aspect-ratio: 1/1;
      justify-self: end;
      z-index: 350;
      border-radius: 1.25rem;
    }
  }

  &--information {
    @mixin container() {
      @include mixins.gradient-cross-browser(
        "bg",
        variables.$gradient-direction-primary,
        colors.$gradient-primary-A,
        colors.$gradient-primary-B
      );
      @include modal-container();
      justify-self: center;
      align-self: center;
      overflow-y: scroll; // allows scrolling inside the component
    }
    &__container {
      @include container();
      height: 100vh;
      width: 100vw;

      &--with-backdrop {
        @include container();
        height: max-content;
        width: max-content;

        @include mixins.gradient-cross-browser(
          "border",
          variables.$gradient-direction-secondary,
          colors.$etrener-gradient-secondary-A,
          colors.$etrener-gradient-secondary-B
        );
        border-radius: variables.$border-radius-sm;
        border-width: variables.$border-width-sm;

        @include mixins.hide-scrollbars();
      }
      @include mixins.hide-scrollbars();
    }
  }
  &-warning {
    &__container {
      @include modal-container();
    }
  }
  &-error {
    &__container {
      @include modal-container();
    }
  }
}
