@use "../../../styles/sass/6-abstracts/mixins";
@use "../../../styles/sass/6-abstracts/colors";
@use "../../../styles/sass/6-abstracts/variables";
@use "../../../styles/sass/1-base/typography";

.tytul {
  &__container {
    width: min(40rem, 80vw);
    margin: 0 auto;
    @media (orientation: landscape) {
      grid-column: 1 / -1;
    }
    //hook2 - zmien to next time tak, zeby rozmiar byl adjustable - bo np. nie moglem go dać do modalu wylogowywania, bo szerokosc byla zbyt duza
  }
  @mixin tytul {
    // delete afterwards /\
    padding: 1rem;
    border-radius: variables.$border-radius-sm * 0.5;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    text-align: center;
    gap: variables.$content-content-gap;
    font-weight: bold;
  }
  &--bez-tla {
    @include tytul;
    font-size: typography.$font-size-between-sm-and-md;
    color: colors.$primary;
  }
  &--z-tlem-kolorowym {
    margin: 7rem 0 0 0;

    @include tytul;
    font-size: typography.$font-size-between-sm-and-md;
    color: colors.$primary;
    @include mixins.gradient-cross-browser(
      "bg",
      variables.$gradient-direction-secondary,
      colors.$etrener-gradient-secondary-A,
      colors.$etrener-gradient-secondary-B
    );
    display: grid;
    align-items: center;

    @media (orientation: landscape) {
      margin: 8rem 0 0 0;
    }
    & svg {
      color: colors.$primary;
      font-size: typography.$font-size-lg;
    }
    & button,
    a {
      all: unset;
      display: grid;
      align-items: center;
    }
  }
}
