@use "../../../../5-themes/medical-variables/medical-variables";
@use "../../../../5-themes/infiniti-variables/infiniti-variables";

$rozmiar-rowa: minmax(0rem, max-content);

.layout {
  // \/ fragment klasy (jak "layout" /\, dopisywane dla jasności "czego tyczy się ten css class", dla developera)
  &__medical-uslugi {
    // \/ layout, w który zostana włożone "foty marketingowe i reszta podfragmnetó storny głównej
    &__cala-strona {
      position: relative;
      display: grid;

      grid-template-rows:
      // \/ 2_5 zostal dpdany pod dodanie tytulu - hook1 lepije robic dynamiczne rowy.

        [r-1] $rozmiar-rowa
        [r-2] $rozmiar-rowa
        [r-2_5] 1fr
        [r-3] $rozmiar-rowa
        [r-4] $rozmiar-rowa
        [r-5];

      grid-template-columns:
        [c-1] 1fr
        [c-2] 1fr
        [c-3] 1fr
        [c-4] 1fr
        [c-5] 1fr
        [c-6] 1fr
        [c-7] 1fr
        [c-8] 1fr
        [c-9] 1fr
        [c-10] 1fr
        [c-11] 1fr
        [c-12];
      &__tlo-calej-strony {
        grid-row: r-1/ r-5;
        grid-column: c-1 / c-12;
        z-index: -100;
        background-color: infiniti-variables.$middle-blue;
        background: -moz-linear-gradient(
          90deg,
          infiniti-variables.$middle-blue 0%,

          infiniti-variables.$light-blue 100%
        );
        background: -webkit-linear-gradient(
          90deg,
          infiniti-variables.$middle-blue 0%,

          infiniti-variables.$light-blue 100%
        );
        background: linear-gradient(
          90deg,
          infiniti-variables.$middle-blue 0%,

          infiniti-variables.$light-blue 100%
        );
      }
      &__0-startowe-logo-i-fota {
        &--logo {
          // hook1--dodaj logo i z-indexnij pod fote
          grid-row: r-1 / r-2;
          grid-column: c-1 / c-12;
          position: relative;

          width: 35%;
          aspect-ratio: 1.1/1;
          align-self: center;
          justify-self: center;
        }
        &--fota {
          grid-row: r-1 / r-2;
          grid-column: c-1 / c-12;
          position: relative;

          width: 100%;
          aspect-ratio: 1.5/1;
        }
      }
      &__0-nazwa-podstrony {
        grid-row: r-2 / r-2_5;
        grid-column: c-2 / c-11;
        @media (orientation: landscape) {
          display: grid;
          justify-items: center;
        }
      }
      &__opis-korzystania-ze-strony {
        grid-row: r-2_5 / r-3;
        grid-column: c-2 / c-11;

        font-size: 3.5vw;
        text-align: center;
        align-self: center;
        // width: 70%;

        @media (orientation: landscape) {
          font-size: 2vw;
          // margin: 6vw 2vw 0 2vw;
        }
      }
      &__lista-zabiegow {
        grid-row: r-3/ r-4;
        grid-column: c-1 / c-12;
        display: grid;
        margin: 4vw 2rem 5vw 2rem;

        grid-template-rows:
          [r-1] $rozmiar-rowa
          [r-2];

        grid-template-columns:
          [c-1] 1fr
          [c-2];
        @media (orientation: landscape) {
          margin: 2vw 2rem 3vw 2rem;
        }
        &__konkretny-zabieg-container {
          display: grid;
          grid-template-rows:
            [r-0] minmax(0rem, max-content)
            [r-1] $rozmiar-rowa
            [r-2] $rozmiar-rowa
            [r-3];

          grid-template-columns:
            [c-1] 1fr
            [c-2] 5fr
            [c-3];
          grid-auto-flow: row;

          margin: 0 0 1vw 0;
          cursor: pointer;
          -webkit-tap-highlight-color: transparent;
          @media (orientation: landscape) {
            grid-template-columns:
              [c-1] 0.25fr
              [c-2] 5fr
              [c-3];
          }

          &--nieaktywny {
            height: 5rem;
          }
          &--tytul-ikona-i-klocek-gradientowy {
            grid-row: r-1/ r-2;
            grid-column: c-1 / c-3;

            background: infiniti-variables.$aktywny-fiolet;
            background: -moz-linear-gradient(
              90deg,
              infiniti-variables.$kafelkowy-fiolet 0%,
              infiniti-variables.$kafelkowy-niebieski 100%
            );
            background: -webkit-linear-gradient(
              90deg,
              infiniti-variables.$kafelkowy-fiolet 0%,
              infiniti-variables.$kafelkowy-niebieski 100%
            );
            background: linear-gradient(
              90deg,
              infiniti-variables.$kafelkowy-fiolet 0%,
              infiniti-variables.$kafelkowy-niebieski 100%
            );
            filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.422));
            height: 4rem;
            margin: 1rem 0 1rem 3rem;

            @media (orientation: landscape) {
              height: max(4rem, 4vw);
            }
          }

          &--svg {
            // displa
            display: grid;
            grid-row: r-1/ r-2;
            grid-column: c-1 / c-2;
            // position: absolute;
            z-index: 5;
            background-color: rgb(255, 255, 255);
            width: 6rem;
            height: 6rem;
            border-radius: 90%;
            border-color: infiniti-variables.$kafelkowy-fiolet;
            border-style: solid;
            border-width: 0.5rem;

            align-items: center;
            justify-items: center;
            // padding: 0.85rem 0.85rem 0.85rem 0.85rem;

            @media (orientation: landscape) {
              width: max(6rem, 6vw);
              height: max(6rem, 6vw);
              padding: 0 0 0 0;
            }

            & svg {
              // padding: 0 auto 0 auto;
              width: 3.3rem;
              height: 3.3rem;

              @media (orientation: landscape) {
                width: 3.3vw;
                height: 3.3vw;
              }
              // align-self: center;
              // background-color: #686868;
            }
          }
          &--tytul-nazwa {
            grid-row: r-1/ r-2;
            grid-column: c-2 / c-3;
            z-index: 10;
            font-size: min(1.4rem, 50vw);
            font-weight: bold;
            letter-spacing: 0.09rem;
            align-self: center;

            padding: 0 0 0 1.5rem;
            // justify-self: center;
            filter: drop-shadow(0 0 0.2rem rgb(0, 38, 47));
            color: white;

            @media (orientation: landscape) {
              font-size: max(1.5rem, 1.35vw);
              letter-spacing: 0.1rem;
            }
          }
          &--nowosc {
            grid-row: r-1/ r-2;
            grid-column: c-2 / c-3;

            display: grid;
            z-index: 10;
            width: 7rem;
            aspect-ratio: 2/1;
            background-color: infiniti-variables.$kafelkowy-happy-fiolet;
            color: white;
            justify-self: end;
            justify-items: center;
            align-items: center;
            transform: translate(1rem, -1.6rem);
            font-weight: 600;
            font-size: 1.2rem;

            @media (orientation: landscape) {
              // margin-right: 5rem;
              transform: translate(1rem, -1.2rem);
              width: 10rem;
              font-size: 1.5rem;
            }
          }
          &--linia-boczna {
            grid-row: r-2/ r-3;
            grid-column: c-1 / c-2;
            z-index: 5;

            width: 0.6rem;
            height: 100%;
            align-self: center;
            justify-self: center;

            background-color: infiniti-variables.$linia-boczna;
          }
          &__lista-szczegolow-danego-zabiegu-container {
            grid-row: r-2/ r-3;
            grid-column: c-2 / c-3;
            z-index: 5;

            &__fota-nowosc {
              // grid-row: r-0/ r-1;
              // grid-column: c-2 / c-3;
              // z-index: 10;
              // position: relative;

              // width: 50%;
              // height: 50%;
            }
            &__konkretny-szczegol-container {
              display: grid;
              grid-template-rows:
                [r-1] 1fr
                [r-2] max-content
                [r-3];

              grid-template-columns:
                [c-1] 0.5fr
                [c-2] 3fr
                [c-3] 3fr
                [c-4];

              @media (orientation: landscape) {
                grid-template-columns:
                  [c-1] 0.25fr
                  [c-2] 3fr
                  [c-3] 3fr
                  [c-4];
              }

              &--klocek {
                grid-row: r-1/ r-2;
                grid-column: c-1 / c-3;

                // padding: 1vw 0 1vw 0;
                margin: 3vw 0 3vw 0;
                //

                height: 2.5rem;
                width: 19rem;
                z-index: -5;
                //protip1 - repsonsiveness - ZAWSZE okresl width i height, chocby height wyliczane z aspect ratio
                //trap1- I NIE % OR VW, tylko rem. aspekty wizualne, niefontowe, moge vw, jeśli już potrzeba. Ale tedy min or max używam
                background: infiniti-variables.$aktywny-fiolet;
                background: -moz-linear-gradient(
                  90deg,
                  infiniti-variables.$kafelkowy-fiolet 0%,
                  infiniti-variables.$kafelkowy-niebieski 100%
                );
                background: -webkit-linear-gradient(
                  90deg,
                  infiniti-variables.$kafelkowy-fiolet 0%,
                  infiniti-variables.$kafelkowy-niebieski 100%
                );
                background: linear-gradient(
                  90deg,
                  infiniti-variables.$kafelkowy-fiolet 0%,
                  infiniti-variables.$kafelkowy-niebieski 100%
                );
                filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.422));

                @media (orientation: landscape) {
                  margin: 1vw 0 1vw 0;
                  width: max(22rem, 22vw);
                  height: max(2.5rem, 2.5vw);
                }
              }
              &--svg {
                grid-row: r-1/ r-2;
                grid-column: c-1 / c-2;
                align-self: center;
                color: white;

                // padding: 0 auto 0 auto;
                display: grid;
                justify-items: center;
                @media (orientation: landscape) {
                  font-size: max(1rem, 1.5vw);
                  // width:2rem;
                }
              }
              &--tytul {
                grid-row: r-1/ r-2;
                grid-column: c-2 / c-3;
                align-self: center;
                justify-self: start;
                font-size: 1rem;
                color: white;
                font-weight: bold;
                letter-spacing: 0.1rem;
                filter: drop-shadow(0 0 0.15rem rgb(0, 38, 47));

                @media (orientation: landscape) {
                  font-size: max(1rem, 1vw);
                }
              }
              &--tresc-tlo {
                grid-row: r-2/ r-3;
                grid-column: c-1 / c-4;
                // background-color: white;
                // box-shadow: 0 0 1vw 0.2vw #3f00455b;
                // padding: 1vw 0 1vw 0;
              }
              &--tresc-tlo-foty-zastepujacej-tekst {
                grid-row: r-2/ r-3;
                grid-column: c-1 / c-4;
              }
              &--tresc-fota-zamiast-tekstu {
                grid-row: r-2/ r-3;
                grid-column: c-1 / c-4;
                height: 73vw;
                aspect-ratio: 1/1;
                // width: 100vw;
                // width: auto;
                padding: 1rem 2rem 1rem 0rem;
                // width: 3rem;
                position: relative;
                display: grid;
                // justify-items: start;
              }
              &--tresc-tekst {
                grid-row: r-2/ r-3;
                grid-column: c-1 / c-4;
                font-size: 1.1rem;
                padding: 1rem 2rem 1rem 2rem;
                color: white;
                // width: 3rem;
                position: relative;
                display: grid;
                // row-gap: 3rem;
                //protip2 - zmiana bullet looku \/ "::marker"
                & ul li::marker {
                  color: infiniti-variables.$kafelkowy-niebieski;
                  // filter: drop-shadow(0 0 0.2rem rgb(0, 0, 0));
                }

                @media (orientation: landscape) {
                  font-size: max(1.2rem, 1.3vw);
                  padding: 2rem 2rem 2rem 4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
