@use "../../../../styles/sass/5-themes/infiniti-variables/infiniti-variables";

.footer {
  &__caly-container {
    position: relative;
    z-index: 100;
    box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-rows: 1fr;

    // margin: 2vw auto 0 auto;
    padding: 5rem 0 0 0;
    row-gap: 6rem;

    @media (orientation: landscape) {
      grid-auto-flow: column;
      // grid-template-columns: repeat(auto-fit, 30vw);

      grid-template-rows:
        [r-1] 1fr
        [r-2] minmax(0, max-content)
        [r-3] minmax(0, max-content)
        [r-4];
      grid-template-columns:
        [c-1] 1fr
        [c-2] 1fr
        [c-3] 1fr
        [c-4];
      row-gap: 2vw;
    }
  }
  @mixin tytul-kazdy {
    display: grid;

    grid-template-columns:
      [c-1] 1fr
      [c-2] max-content
      [c-3];

    // column-gap: 1rem;

    width: max(25vw, 25rem);
    aspect-ratio: 5/1;

    justify-self: center;

    align-items: center;
    justify-items: center;
    font-size: max(2rem, 5vw);
    // font-weight: bold;
    // letter-spacing: 0.03rem;
    color: black;

    // box-shadow: 0px 0px 0.2rem 0.2rem #53249078;
    @media (orientation: landscape) {
      justify-items: start;
      width: 80%;
      // aspect-ratio: 4/1;
      height: 85%;
      // aspect-ratio: none;
      font-size: max(1.8rem, 2vw);
    }
    & svg {
      justify-self: center;
      font-size: 2rem;
      align-self: center;
    }

    & div {
      border-bottom: 3px solid infiniti-variables.$brand-blue-2; // 3px niebieska linia
      padding-bottom: 0.3rem; // odstęp między tekstem a linią
    }
  }
  @mixin lista-rzeczy-grid-container {
    display: grid;
    row-gap: 5vw;
    // grid-auto-rows: 4vw;
    // width: 80%;
    // align-items: end;
    @media (orientation: landscape) {
      grid-auto-rows: 5.5vw;
      row-gap: 0;
    }
    @media (min-width: 800px) {
      grid-auto-rows: 4vw;
    }
  }
  @mixin karta-kazda {
    display: grid;
    grid-template-columns:
      [c-1] 1fr
      [c-2];
    // grid-auto-flow: column;
    // grid-auto-columns: minmax(1rem, 10rem);
    // column-gap: 1rem;

    align-self: end;

    font-size: max(1.6rem, 4vw);

    font-weight: normal;
    line-height: 2rem;

    width: 80%;
    justify-self: center;

    justify-items: center;

    transition: all 0.1s;

    @media (orientation: landscape) {
      // width: 71%;
      font-size: max(1.3rem, 1.4vw);
      justify-items: start;
    }

    & a {
      color: rgb(71, 71, 71);
    }
    & a:link,
    :visited,
    :active,
    :hover {
      text-decoration: none;
    }
    & svg {
      justify-self: center;
      font-size: 1.5rem;
      align-self: center;
    }
  }
  &__honorowane-karty {
    @media (orientation: landscape) {
      grid-row: r-1 / r-2;
      grid-column: c-1 / c-2;
    }
    @include lista-rzeczy-grid-container();

    &--tytul {
      @include tytul-kazdy();
    }
    &--karta {
      @include karta-kazda();
    }
  }
  //hook1 - PRZED SRTYLIZOWANIEM, włóz ORYGINALNE DANE. Inaczje bp. pozniej wkleisz
  // link component, i hierarchia divow idzie sie jebać
  &__dokumenty {
    @media (orientation: landscape) {
      grid-row: r-1 / r-2;
      grid-column: c-2 / c-3;
    }
    @include lista-rzeczy-grid-container();
    &--tytul {
      @include tytul-kazdy();
    }
    &--karta {
      @include karta-kazda();
      &:hover {
        transform: scale(1.05);
        transition: all 0.1s;
      }
    }
  }
  &__kontakt {
    @media (orientation: landscape) {
      grid-row: r-1 / r-2;
      grid-column: c-3 / c-4;
    }
    @include lista-rzeczy-grid-container();
    // grid-template-rows:
    //   [c-1] 1fr
    //   [c-2] 5fr
    //   [c-3];
    // grid-template-columns:
    //   [c-1] 1fr
    //   [c-2] 5fr
    //   [c-3];
    &--tytul {
      @include tytul-kazdy();
    }
    &--karta {
      @include karta-kazda();
      &:hover {
        transform: scale(1.05);
        transition: all 0.1s;
      }

      color: infiniti-variables.$black;
      text-decoration: none;
      // margin: auto;
      display: grid;
      grid-template-columns:
        [c-1] 1fr
        [c-2];
    }
    &--sociale {
      // @include lista-rzeczy-grid-container();
      @include karta-kazda();

      display: grid;

      grid-template-columns:
        [c-1] 1fr
        [c-2] 1fr
        [c-3] 1fr
        [c-4];

      justify-items: center;
      // margin: 2rem 0 0 0;
      // font-size: 4rem;
      & svg {
        font-size: 2.5rem;
        &:hover {
          transform: scale(1.05);
          transition: all 0.1s;
        }
      }
    }
  }
  &__copyright {
    @include karta-kazda();
    display: inline-block;
    // justify-items: center;
    // align-self: start;
    text-align: center;
    color: rgba(0, 0, 0, 0.443);
    text-shadow: none;
    margin: 0 auto 2rem auto;
    // margin-bottom: 2rem;
    @media (orientation: landscape) {
      grid-row: r-2 / r-3;
      grid-column: c-1 / c-4;
    }
  }

  &__link-do-tworcow {
    @include karta-kazda();

    display: inline-block;
    // justify-items: center;
    // align-self: start;
    text-align: center;
    color: rgba(0, 0, 0, 0.443);
    text-shadow: none;
    margin: 0 auto 2rem auto;

    @media (orientation: landscape) {
      grid-row: r-3/ r-4;
      grid-column: c-1 / c-4;
    }
  }
}
