// nowe od 2026
$white: #ffffff;
$black: rgba(0, 0, 0, 0.8);
$grey-shadow: rgba(0, 0, 0, 0.15);
$brand-blue-2: #3c9fdb;
$brand-violet: #6e3e92;

//tlo ciemmne - fiolet-ciemnyniebieski gradient
$dark-violet: #482283;
$dark-blue: #136789;

//tlo jasne- turkus-morski gradient
$light-blue: #3c9aa1;
$middle-blue: #205e91;

//elementy pojedyncze - jasnyfiolet
$sunny-light-blue: #22c1c3;
$sunny-light-violet: #a22cff;

//kolor kafelek poziomow -1 do 2

$aktywny-fiolet: #8a27d8;
$aktywny-niebieski: #416bff;

$nieaktywny-lightblue: #5fbdca;
$nieaktywny-darkblue: #274ba7;

// kolor rozdzialow kadra, uslugi etc.
$kafelkowy-fiolet: #6227b9;
$kafelkowy-niebieski: #4ec5d1;
$kafelkowy-happy-fiolet: #7a1276;

//linie boczne
$linia-boczna: #5c1593;
