$fitness-x: #e2bf11;

//podstawowe kolory
$fitness--zolty: #fbb900;
$fitness--czerwony: #e30613;
$fitness--bordowy: #89150d;
$fitness--czarny: #120e17;

//kadra np.
$fitness--klocek-gradient-part-1: #de8515;
$fitness--klocek-gradient-part-2: #ffdc22;
$fitness--tytul-roli-drop-shadow: rgb(112, 17, 0);

$fitness--linia-boczna-lub-dzielaca-color: #120e17;
