$text-colour: #262626;

//podstawowe kolory
$medical--jasny-niebieksi: #77c8d1;
$medical--sredni-niebieksi: #3c9fdb;
$medical--ciemny-niebieksi: #1a4898;
$medical--fiolet: #6e3e93;

//kadra & uslugi
$medical--klocek-gradient-part-1: #1f5c91;
$medical--klocek-gradient-part-2: #4ec5d1;

$medical--linia-boczna-lub-dzielaca-color: #d8bde0;
