@use "../../../styles/sass/6-abstracts/mixins";
@use "../../../styles/sass/6-abstracts/colors";
@use "../../../styles/sass/6-abstracts/variables";
@use "../../../styles/sass/1-base/typography";

$rozmiar-sciany-kwadratu-siatki: 1fr; //hook2 - przerob na universal miary i wstaw do variables/ colors scss files
$max-content: max-content;
.strona-glowna {
  @media (orientation: landscape) {
    display: grid;
  }
  // background-color: #f5f5f7;
  // height: 100vh;

  button {
    cursor: pointer !important;
    &:hover {
      filter: brightness(1.05) !important;
    }
  }

  & > * {
    @include mixins.animated-appearance();
  }

  &__container {
    padding: 0 0 3rem 0;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    color: colors.$secondary;

    @media (orientation: landscape) {
      justify-self: center;
      grid-auto-flow: column;
      grid-template-columns: repeat(2, max-content);
      grid-template-rows: max-content 1fr;
      padding: 0 4rem 6rem 4rem;
      row-gap: 2rem;
    }
  }

  &__metoda-szukania {
    margin: 0 auto;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
  }

  &__wybieracz-miesni {
    grid-row: 2;
    grid-column: 1;
    margin: 0 0 3rem 0;
    display: grid;
    grid-template-rows:
      [r-1] $max-content //hook1 - create global sizes and import them here
      [r-2] 40rem
      [r-3] $max-content
      [r-4];
    grid-template-columns:
      [c-1] 1fr
      [c-2];
    justify-items: center;
    filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.4));

    @mixin rozmiar-wybieracza-miesni {
      position: absolute;
      height: 40rem;
      aspect-ratio: 1/1.5;
      @include mixins.next-img-border-radius(variables.$border-radius-sm);

      @media screen and (orientation: landscape) {
        // height: 45rem;
      }
    }

    &__zakrywajacy-loader {
      position: absolute;
      grid-row: 1 / 2;
      @include rozmiar-wybieracza-miesni();
      z-index: 25;
      @include mixins.animated-loader-bg();
    }
    &__3d-model-z-miesniami {
      @include rozmiar-wybieracza-miesni();

      grid-row: 1 / 2;

      &__grupa-miesniowa {
      }
    }
    &__siatka-do-przyciskow {
      @include rozmiar-wybieracza-miesni();

      grid-row: 1 / 2;

      z-index: 5;

      display: grid;
      grid-template-rows: repeat(91, $rozmiar-sciany-kwadratu-siatki);
      grid-template-columns: repeat(61, $rozmiar-sciany-kwadratu-siatki);

      @mixin btn-uniwersalne-ustawienia() {
        background: rgb(random(255), random(255), random(255));
        border: none;
        opacity: 0.6;
        background: transparent;
      }
      &--barki-tyl {
        @include btn-uniwersalne-ustawienia();
        grid-row: 16 / 19;
        grid-column: 26 / 32;

        &--2 {
          @include btn-uniwersalne-ustawienia();
          grid-row: 17 /21;
          grid-column: 46 / 53;
        }
      }
      &--barki-boki {
        @include btn-uniwersalne-ustawienia();
        grid-row: 19 / 22;
        grid-column: 24 / 33;

        &--2 {
          @include btn-uniwersalne-ustawienia();
          grid-row: 21 / 25;
          grid-column: 49 / 53;
        }
      }
      &--barki-przod {
        @include btn-uniwersalne-ustawienia();
        grid-row: 21 / 25;
        grid-column: 25 / 36;

        &--2 {
          @include btn-uniwersalne-ustawienia();
          grid-row: 21 / 25;
          grid-column: 45 / 49;
        }
      }
      &--biceps {
        @include btn-uniwersalne-ustawienia();
        grid-row: 25 / 29;
        grid-column: 17 / 26;

        &--2 {
          @include btn-uniwersalne-ustawienia();
          grid-row: 25 / 32;
          grid-column: 46/ 53;
        }
      }
      &--brzuch-gora {
        @include btn-uniwersalne-ustawienia();
        grid-row: 32 / 37;
        grid-column: 36 / 44;
      }
      &--brzuch-dol {
        @include btn-uniwersalne-ustawienia();
        grid-row: 37 / 44;
        grid-column: 36 / 42;
      }
      &--klatka-piersiowa-gora {
        @include btn-uniwersalne-ustawienia();
        grid-row: 20 / 24;
        grid-column: 36 / 45;
      }
      &--klatka-piersiowa-srodek {
        @include btn-uniwersalne-ustawienia();
        grid-row: 24 / 28;
        grid-column: 32 / 46;
      }
      &--klatka-piersiowa-dol {
        @include btn-uniwersalne-ustawienia();
        grid-row: 28 / 32;
        grid-column: 32 / 46;
      }
      &--lydki {
        @include btn-uniwersalne-ustawienia();
        grid-row: 61 / 75;
        grid-column: 9 / 43;
      }
      &--plecy-gora {
        @include btn-uniwersalne-ustawienia();
        grid-row: 14 / 20;
        grid-column: 32 / 46;
      }
      &--plecy-srodek {
        @include btn-uniwersalne-ustawienia();
        grid-row: 25 / 34;
        grid-column: 26 / 32;
      }
      &--plecy-dol {
        @include btn-uniwersalne-ustawienia();
        grid-row: 34 / 40;
        grid-column: 26 / 31;
      }
      &--posladki {
        @include btn-uniwersalne-ustawienia();
        grid-row: 40 / 51;
        grid-column: 24 / 30;
      }
      &--przedramie-gora {
        @include btn-uniwersalne-ustawienia();
        grid-row: 25 / 42;
        grid-column: 9 / 14;

        &--2 {
          @include btn-uniwersalne-ustawienia();
          grid-row: 25 / 40;
          grid-column: 54 / 59;
        }
      }
      &--przedramie-dol {
        @include btn-uniwersalne-ustawienia();
        grid-row: 24 / 42;
        grid-column: 14 / 17;

        &--2 {
          @include btn-uniwersalne-ustawienia();
          grid-row: 25 / 40;
          grid-column: 52 / 54;
        }
      }
      &--skosne {
        @include btn-uniwersalne-ustawienia();
        grid-row: 32 / 44;
        grid-column: 30 / 36;
      }
      &--triceps {
        @include btn-uniwersalne-ustawienia();
        grid-row: 19 / 24;
        grid-column: 15 / 24;

        &--2 {
          @include btn-uniwersalne-ustawienia();
          grid-row: 30 / 36;
          grid-column: 46/ 51;
        }
      }
      &--uda-przod {
        @include btn-uniwersalne-ustawienia();
        grid-row: 44 / 57;
        grid-column: 30 / 48;

        &--2 {
          @include btn-uniwersalne-ustawienia();
          grid-row: 56 / 63;
          grid-column: 26 / 32;
        }
      }
      &--uda-srodek {
        @include btn-uniwersalne-ustawienia();
        grid-row: 51 / 57;
        grid-column: 26 / 31;
      }
      &--uda-tyl {
        @include btn-uniwersalne-ustawienia();
        grid-row: 53 / 63;
        grid-column: 20 / 46;
      }
    }
  }
  &__nr-id-szukacz {
    &__container {
      display: grid;
      justify-items: center;
    }
    &__input-field {
      padding: 1rem 2rem;
      width: min(35rem, 65vw);
      max-width: 25rem;
      aspect-ratio: 4/1;
      @include mixins.gradient-cross-browser(
        "border",
        variables.$gradient-direction-secondary,
        #6e3e93,
        #6e3e93
      );

      border-radius: variables.$border-radius-sm;
      border-width: variables.$border-width-sm;
      font-size: typography.$font-size-xl;
      color: rgb(0, 0, 0, 0.8);
      text-align: center;
      filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.4));

      &::placeholder {
        text-align: center;
        color: colors.$sixth;
      }

      &:focus {
        outline: none;
      }
    }
    &__fota-maszyny {
      margin: variables.$content-content-gap-md 0;
      position: relative;
      height: 25rem;
      aspect-ratio: 1/1;

      @include mixins.animated-loader-bg();
      @include mixins.next-img-border-radius(variables.$border-radius-sm);
      filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.6));
    }
  }
  &__qr-szukacz {
    &__container {
    }
    &__kamera {
      margin: 0 auto;
      width: min(30rem, 70vw) !important;
      aspect-ratio: 1.2/1;
      border-radius: 2rem;
      overflow: hidden;

      & path {
        stroke: rgb(255, 255, 255, 0.5);
      }
    }
  }
}
