@use "../../../styles/sass/6-abstracts/mixins";
@use "../../../styles/sass/6-abstracts/colors";
@use "../../../styles/sass/6-abstracts/variables";
@use "../../../styles/sass/1-base/typography";

.lista-cwiczen {
  &__container {
    overflow: "hidden";
    position: absolute; //protip1 - div that takes ALL the background size, dyanmically. just force it to be tpop0 and bottom 0 , so posiiton absoluite needed
    top: 0;
    bottom: 0;
    height: 110vh;
    width: 100dvw;
    @include mixins.gradient-cross-browser(
      "bg",
      variables.$gradient-direction-primary,
      colors.$gradient-primary-A,
      colors.$gradient-primary-B
    );
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    justify-items: center;
    color: colors.$secondary;

    & > * {
      @include mixins.animated-appearance();
    }
    @media (orientation: landscape) {
      row-gap: 0.75rem;
    }
  }
  &__lista {
    padding: 3rem 2rem;
    height: 70vh;
    overflow-y: scroll;

    @include mixins.grid-with-justify-align-items;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    row-gap: variables.$content-content-gap-xl;
    column-gap: variables.$content-content-gap-md * 1.4;

    @media (orientation: landscape) {
      grid-template-columns: repeat(3, 1fr);
      padding: 0 4rem;
    }
    &__cwiczenie {
      position: relative;
      width: min(39vw, 20rem);
      aspect-ratio: 1/1;
      @include mixins.grid-with-justify-align-items;

      &__panel {
        // @include mixins.animated-loader-bg();

        all: unset;
        //
        width: inherit;
        filter: drop-shadow(colors.$shadow-universal);

        &__miniaturka {
          position: relative;
          width: inherit;
          aspect-ratio: 1.33/1;
          clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
          background-color: rgb(25, 25, 25);
          // @include mixins.animated-appearance();
          @include mixins.grid-with-justify-align-items;

          &__dupni-sinek {
            margin: auto 0;
            font-size: min(8rem, 15vw);
            position: absolute;
            transform: translateY(1rem);
            z-index: 10;
            color: rgb(colors.$seventh, 0.5);
            // @include mixins.animated-appearance();
          }
        }
        &__tekst {
          padding: 0.5rem 0.85rem;
          width: relative;
          aspect-ratio: 2/1;
          @include mixins.gradient-cross-browser(
            "bg",
            variables.$gradient-direction-secondary,
            colors.$gradient-third-A,
            colors.$gradient-third-B
          );
          clip-path: polygon(0 0, 100% 0, 100% 60%, 85% 100%, 0 100%);
          // @include mixins.animated-appearance();
          @include mixins.grid-with-justify-align-items;
          color: colors.$primary;
          text-align: center;
          font-size: min(1.6rem, 2.9vw);
          font-weight: bold;

          &__napis {
            filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 0, 0.548));
          }
        }
      }
      &__info {
        all: unset;
        position: absolute;
        z-index: 10;
        right: -10%;
        top: -10%;
        width: 27%;
        aspect-ratio: 1/1;
        background-color: colors.$primary;
        border-radius: 100%;
        // border: 0.5rem solid white;
        // @include mixins.animated-appearance();
        color: colors.$secondary;
        font-size: typography.$font-size-lg;
        @include mixins.grid-with-justify-align-items;
      }
    }
  }

  // &__tytul {

  // }
}
