.layout {
  // \/ fragment klasy (jak "layout" /\, dopisywane dla jasności "czego tyczy się ten css class", dla developera)
  &__fitness-grafik {
    // \/ layout, w który zostana włożone fragmenty calej strony
    &__cala-strona {
      display: grid;
      // JEDEN grid. BEZ subgridow. stąd tylko wierszy/kolumnm
      grid-template-rows:
        [r-1] minmax(5rem, 10rem)
        [r-2] minmax(5rem, 10rem)
        [r-3] minmax(5rem, 10rem)
        [r-4] minmax(5rem, 10rem)
        [r-5] minmax(5rem, 10rem)
        [r-6] minmax(5rem, 10rem)
        [r-7] minmax(5rem, 10rem)
        [r-8] minmax(5rem, 10rem)
        [r-9] minmax(5rem, 10rem)
        [r-10] minmax(5rem, 10rem)
        [r-11];

      grid-template-columns:
        [c-1] 1fr
        [c-2] 1fr
        [c-3];
      // pierwszy fragment calej strony, z samej gory strony (ustaiwam zgodnie z ulozeniem na stornie, dla latwego szukania
      &__aaa {
        grid-row: r-1 / r-2;
        grid-column: c-1 / c-2;

        display: grid;

        grid-template-rows:
          [r-1] minmax(5rem, max-content)
          [r-2];
        grid-template-columns:
          [c-1] 3fr
          [c-2]
          1fr [c-3];
        // \/ TYLKO GDY NIE-TEKSTOWE, wtedy to jest NAJLEPSZY sposob full kontorli pozycji
        // margin-left: 110%;
        // margin-right: 10%;
        // margin-top: 0%;
        // margin-bottom: 0%;

        background-color: #40afff7a;
        // pierwszy PODfragment pierwszego fragmentu...
        &__AAA {
          grid-row: r-1 / r-2;
          grid-column: c-2 / c-3;

          background-color: #79ff407a;
          // \/ TYLKO GDY NIE-TEKSTOWE, wtedy to jest NAJLEPSZY sposob full kontorli pozycji
          // margin-left: 110%;
          // margin-right: 10%;
          // margin-top: 0%;
          // margin-bottom: 0%;
        }
      }
      // drugi fragment calej strony, tóż pod tym pierwszym z samej gory strony
      &__bbb {
        // pierwszy PODfragment drugiego fragmentu...
        &--AAA {
          background-color: #e2ff407a;
          // \/ TYLKO GDY NIE-TEKSTOWE, wtedy to jest NAJLEPSZY sposob full kontorli pozycji
          // margin-left: 110%;
          // margin-right: 10%;
          // margin-top: 0%;
          // margin-bottom: 0%;
        }
      }
    }
  }
}
