@use "../../../../5-themes/infiniti-variables/infiniti-variables";

$rozmiar-rowa: minmax(0rem, max-content);

.layout {
  // \/ fragment klasy (jak "layout" /\, dopisywane dla jasności "czego tyczy się ten css class", dla developera)
  &__fitness-cennik {
    // \/ layout, w który zostana włożone "foty marketingowe i reszta podfragmnetó storny głównej
    &__cala-strona {
      position: relative;
      display: grid;

      grid-template-rows:
      //

        [r-1] $rozmiar-rowa
        [r-2] $rozmiar-rowa
        [r-3] $rozmiar-rowa
        [r-4] $rozmiar-rowa
        [r-5] 3rem
        [r-6];

      grid-template-columns: 
        //

        [c-1] 1fr
        [c-2] 1fr
        [c-3] 1fr
        [c-4] 1fr
        [c-5] 1fr
        [c-6] 1fr
        [c-7] 1fr
        [c-8] 1fr
        [c-9] 1fr
        [c-10] 1fr
        [c-11] 1fr
        [c-12]
        //
;
      // grid-auto-flow: rows;
      // Trap1 - COMPONENTY ( np. "fota w tle" || "tytuł podstrony") MAJĄ SWOJ SCSS W SWOIM DEDYKOWANUM PLIKU. bez sensu powielac kod np.
      // dla foty w tle, ktora jest na kazdej stronie

      &__0-startowe-logo-i-fota {
        &--logo {
          // hook1--dodaj logo i z-indexnij pod fote
          grid-row: r-1 / r-2;
          grid-column: c-1 / c-12;
          position: relative;

          width: 35%;
          aspect-ratio: 1.1/1;
          align-self: center;
          justify-self: center;
        }
        &--fota {
          grid-row: r-1 / r-2;
          grid-column: c-1 / c-12;
          position: relative;

          width: 100%;
          aspect-ratio: 1.5/1;
        }
      }
      &__0-nazwa-podstrony {
        grid-row: r-2 / r-3;
        grid-column: c-2 / c-11;
        @media (orientation: landscape) {
          display: grid;
          justify-items: center;
        }
      }
      &__kup-karnet-button-cennik-fitness {
        grid-row: r-3 / r-4;
        grid-column: c-5 / c-8;

        width: 12rem;
        aspect-ratio: 5/1.8;

        margin: 0vw 0 3vw 0;
        justify-content: center;
        justify-self: center;
        align-content: center;
        align-self: center;

        border: none;
        background-color: infiniti-variables.$sunny-light-violet;
        background: -moz-linear-gradient(
          222deg,
          infiniti-variables.$sunny-light-blue 0%,
          infiniti-variables.$sunny-light-violet 100%
        );
        background: -webkit-linear-gradient(
          222deg,
          infiniti-variables.$sunny-light-blue 0%,
          infiniti-variables.$sunny-light-violet 100%
        );
        background: linear-gradient(
          222deg,
          infiniti-variables.$sunny-light-blue 0%,
          infiniti-variables.$sunny-light-violet 100%
        );
        color: white;
        font-weight: bold;
        text-shadow: 0 0 0.3rem #381b00;
        box-shadow: 0 0 1vw 0.2vw #9f000021;
        // transition: all 0.5s ease-out;
        transition: all 1s;
        cursor: pointer;
        // &:active {
        //   // font-weight: 1;
        //   background: linear-gradient(
        //     222deg,
        //     rgb(17, 146, 148) 0%,
        //     rgb(129, 33, 202) 100%
        //   );
        // }
        @media (orientation: landscape) {
          margin: 1vw 0 1vw 0;
          width: 12vw;
          aspect-ratio: 5/1.8;
          font-size: 1.5vw;
        }
        & a {
          color: rgb(255, 255, 255);
        }
        & a:link,
        :visited,
        :active,
        :hover {
          text-decoration: none;
          color: rgb(255, 255, 255);
        }
        &:hover {
          background-color: infiniti-variables.$sunny-light-violet;
          background: -moz-linear-gradient(
            -222deg,
            infiniti-variables.$sunny-light-blue 0%,
            infiniti-variables.$sunny-light-violet 100%
          );
          background: -webkit-linear-gradient(
            -222deg,
            infiniti-variables.$sunny-light-blue 0%,
            infiniti-variables.$sunny-light-violet 100%
          );
          background: linear-gradient(
            -222deg,
            infiniti-variables.$sunny-light-blue 0%,
            infiniti-variables.$sunny-light-violet 100%
          );

          transform: scale(1.2);
          transition: all 0.5s ease-out;
        }
      }
      &__cennik {
        grid-row: r-4 / r-5;
        grid-column: c-1 / c-12;
        // height: 100vw;
        width: 90vw;
        aspect-ratio: 1.35/1;
        justify-self: center;
        align-self: start;
        position: relative;
        animation: fadeInAnimation ease 0.6s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        @keyframes fadeInAnimation {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
}
