//
// Table of content for this file is written at the bottom
//

//       _._. Default color scheme
//           _._._. Theme - INFINITI Universal
//                  _._._._. Static colors (Non-gradients)
$primary: #ffffff;
$secondary: #3b3b3b;
$third: #5c1593;
$forth: #000000;
$fifth: rgba(0, 0, 0, 0.443);

//                  _._._._. Gradients
$gradient-primary-A: #482283;
$gradient-primary-B: #136789;
$gradient-secondary-A: #3c9aa1;
$gradient-secondary-B: #205e91;
$gradient-third-A: #8a27d8;
$gradient-third-B: #416bff;
$gradient-forth-A: #6227b9;
$gradient-forth-B: #4ec5d1;
$gradient-fifth-A: #22c1c3;
$gradient-fifth-B: #a22cff;

//           _._._. Theme - Medical
$medical--primary-light: #77c8d1;
$medical--secondary-light: #3c9fdb;
$medical--third-light: #1a4898;
$medical--forth-light: #6e3e93;

//           _._._. Theme - Fitness
$fitness--primary-light: #fbb900;
$fitness--secondary-light: #e30613;
$fitness--third-light: #89150d;
$fitness--forth-light: #120e17;

//           _._._. Shadow styles
$shadow-universal: 0.2rem 0 0rem 0 rgba(0, 0, 0, 0.3);

//
//~~ _. Globally used colors - locally used colors are in their specific files, where they are used
//
//       _._. Default color scheme
//
//           _._._. Theme - INFINITI Universal
//
//                  _._._._. Static colors (Non-gradients)
//
//                  _._._._. Gradients
//
//           _._._. Theme - Medical
//
//           _._._. Theme - Fitness
//
//           _._._. Shadow styles
//
