// Table of content for this file is written at the bottom

@use "../6-abstracts/variables";

@mixin gradient-cross-browser($target-type, $deg, $color1, $color2) {
  @if $target-type != "border" {
    @if $target-type == "text" or $target-type == "bg" {
      //protip1 / hook1 - \/ this are all browsersyou need to add cross-browser for
      // Old browsers
      background: $color1;
      // Webkit (Chrome 11+)
      background: -webkit-linear-gradient($deg, $color1 0%, $color2 100%);
      // Webkit (Safari/Chrome 10) - hook1 - chedkc how to make it dinamic, instead of hardcoded strings - maybe just dedicated variable sfor safari?
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, $color1),
        color-stop(1, $color2)
      );
      // IE10+
      background: -ms-linear-gradient($deg, $color1 0%, $color2 100%);
      // Mozilla Firefox
      background: -moz-linear-gradient($deg, $color1 0%, $color2 100%);
      // Opera
      background: -o-linear-gradient($deg, $color1 0%, $color2 100%);
      // W3C Markup
      background: linear-gradient($deg, $color1 0%, $color2 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#{$color1}',
      endColorstr='#{$color2}',
      GradientType=1
    );
    }
  }
  @if $target-type == "text" or $target-type == "icon" {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @if $target-type == "border" {
    //protip1 - \/ gradiented-borders with border radius - link : https://nikitahl.com/gradient-border-css
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient($deg, $color1, $color2) border-box;
    border-style: solid;
    border-color: transparent;
    // border: 5px solid transparent;
  }
}
//protip1 - /\ cleaner way of writing cross-browser css - because its mostly similar, boilerplate, copy-paste lines
@mixin next-img-border-radius($border-radius) {
  border-radius: $border-radius; // so that the shadow of the <div> is rounded also

  & img {
    border-radius: $border-radius;
  }
}

// add display grid & padding & justify & align
@mixin grid-with-padding-and-justify-align-items {
  padding: variables.$content-content-gap;
  display: grid;
  justify-items: center;
  align-items: center;
}
@mixin grid-with-justify-align-items {
  display: grid;
  justify-items: center;
  align-items: center;
}

@mixin animated-loader-bg {
  @keyframes poruszajaSieLinia {
    0% {
      background-position: -20rem;
    }
    50% {
      background-position: 20rem 0;
    }
    100% {
      background-position: -20rem;
    }
  }
  //hook1 - make the loading colors and looping prettier
  background-color: #f6f7f8;
  background: linear-gradient(
    to right,
    #ededed 30%,
    #ececec 48%,
    #e1e1e1 58%,
    #e1e1e1 68%,
    #ececec 78%,
    #ededed 88%
  );
  animation: poruszajaSieLinia 5s infinite;
}

@mixin animated-appearance {
  @keyframes pojawiaSieZNikad {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  animation: pojawiaSieZNikad 0.25s linear;
}

@mixin hide-scrollbars {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    //Chrome
    display: none;
  }
}
