//
//
//~~ A.  ...
//
//       A.1. __medical-do-pobrania__cala-strona
//
//           A.1.1. __0-startowe-logo-i-fota
//
//           A.1.2. __0-nazwa-podstrony
//
//           A.1.3. __tytuly-i-content-do-pobrania
//
//~~ B.  ...
//

.layout {
  // \/ fragment klasy (jak "layout" /\, dopisywane dla jasności "czego tyczy się ten css class", dla developera)
  &__infiniti-do-pobrania {
    // \/ layout, w który zostana włożone fragmenty calej strony
    &__cala-strona {
      position: realtive;
      display: grid;

      grid-template-rows:
        // 
          // __obraz_i_logo_tytulowe

        [r-1] minmax(5rem, max-content)
        [r-2]
        // __nazwa-tytulowa-podstrony
        minmax(5rem, max-content)
        [r-3]
        // __tytuly-i-content-do-pobrania
        minmax(5rem, max-content)
        [r-4] minmax(5rem, max-content)
        [r-5] minmax(5rem, max-content)
        [r-6]
        //
;

      grid-template-columns: 
          //

        [c-1] 1fr
        [c-2] 1fr
        [c-3] 1fr
        [c-4] 1fr
        [c-5] 1fr
        [c-6] 1fr
        [c-7] 1fr
        [c-8] 1fr
        [c-9] 1fr
        [c-10] 1fr
        [c-11] 1fr
        [c-12]
        //
;
      grid-auto-flow: rows;
      // Trap1 - COMPONENTY ( np. "fota w tle" || "tytuł podstrony") MAJĄ SWOJ SCSS W SWOIM DEDYKOWANUM PLIKU. bez sensu powielac kod np.
      // dla foty w tle, ktora jest na kazdej stronie

      &__0-startowe-logo-i-fota {
        display: grid;
        grid-row: r-1 / r-2;
        grid-column: c-1 / c-12;
      }
      &__0-nazwa-podstrony {
        display: grid;
        grid-row: r-2 / r-3;
        grid-column: c-5 / c-8;
        @media (orientation: landscape) {
          display: grid;
          justify-self: center;
          justify-items: center;
        }
        // height: 2rem;
        // position: relative;
      }
      &__tytuly-i-content-do-pobrania {
        @mixin tytul-klocek {
          // background-color: #530d457a;
          justify-content: center;
          justify-self: center;
          align-content: center;
          align-self: center;
          //hook1 - why musialem obydwa aligne zrobić,żeby osobno poruszyć tekstem i osobno gradintem
          // height: 3rem;
          width: 26.5vw;
          // aspect-ratio: 3/1;
          height: 7vw;
          font-size: 3vw;
          font-weight: bold;
          color: white;
          background: rgb(34, 193, 195);
          background: linear-gradient(
            222deg,
            rgba(34, 193, 195, 1) 0%,
            rgba(31, 92, 145, 1) 100%
          );
          @media (orientation: landscape) {
            height: 4.5vw;
            font-size: 2vw;
            margin: 0 0 4vh 0;
          }
          // background-position: ;
        }
        &--logo {
          &--tytul {
            display: grid;
            grid-row: r-3 / r-4;
            grid-column: c-2 / c-6;

            @include tytul-klocek;
          }
          &--content-typy-plikow {
            grid-row: r-4 / r-6;
            grid-column: c-2 / c-6;

            display: grid;

            position: relative;
            grid-template-rows:
              // [r-break1] 2rem

              [r-1] 7rem //tytul
              [r-2] 1fr
              [r-3] 1fr
              [r-4] 7rem //tytul
              [r-5] 1fr
              [r-6] 1fr
              [r-7] 7rem //tytul
              [r-8] 1fr
              [r-9] 1fr
              [r-10] 1fr
              [r-11];
            //trap1-  protip1 - NIGDY WIECJE STRIKTE ZBUDOWANYCH gridow
            // kieyd mozesz po prostu zbudowac
            //    a) component z unikatowymi propsami per przypadke użycia
            //    b) grid dynamiczny, przemyślany w sposób "automatyczne
            //    dodawanie kolejnych rowow etc.

            grid-template-columns:
              [c-1] 1fr
              [c-2] 1fr
              [c-3];
            grid-auto-flow: column;
            @media (orientation: landscape) {
              justify-self: center;
              grid-template-rows:
                [r-1] 8vw //tytul
                [r-2] 1fr
                [r-3] 1fr
                [r-4] 8vw //tytul
                [r-5] 1fr
                [r-6] 1fr
                [r-7] 8vw //tytul
                [r-8] 1fr
                [r-9] 1fr
                [r-10] 1fr
                [r-11];
              grid-template-columns:
                [c-1] 10vw
                [c-2] 10vw
                [c-3];
            }
            // row-gap: 1rem;

            @mixin every-item {
              position: relative;
              // margin:0 0 1rem 0
              width: 4rem;
              aspect-ratio: 1/1.5;
              justify-self: center;
              align-self: center;
              transition: all 0.5s;
              animation: fadeInAnimation ease 0.6s;
              animation-iteration-count: 1;
              animation-fill-mode: forwards;

              @keyframes fadeInAnimation {
                0% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                }
              }
              @media (orientation: landscape) {
                width: 6vw;
              }
              &:hover {
                transform: scale(1.05);
                transition: all 0.5s;
              }
            }
            @mixin tytuly-logo {
              justify-self: center;
              align-self: end;
              font-size: 1.3rem;
              font-weight: bold;
              color: rgb(71, 71, 71);
              position: relative;
              height: 100%;
              width: 100%;
              animation: fadeInAnimation ease 0.6s;
              animation-iteration-count: 1;
              animation-fill-mode: forwards;

              @keyframes fadeInAnimation {
                0% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                }
              }
              // padding: 3rem 0 0 0;
            }
            &--medical-tytul {
              grid-row: r-1 / r-2;
              grid-column: c-1 / c-3;
              @include tytuly-logo();
            }
            &--fitness-tytul {
              grid-row: r-4 / r-5;
              grid-column: c-1 / c-3;
              @include tytuly-logo();
            }
            &--infiniti-tytul {
              grid-row: r-7 / r-8;
              grid-column: c-1 / c-3;

              @include tytuly-logo();
            }

            &--item-1 {
              grid-row: r-2 / r-3;
              grid-column: c-1 / c-2;

              @include every-item();
            }
            &--item-2 {
              grid-row: r-2 / r-3;
              grid-column: c-2 / c-3;
              @include every-item();
            }
            &--item-3 {
              grid-row: r-3/ r-4;
              grid-column: c-1 / c-2;
              @include every-item();
            }
            &--item-4 {
              grid-row: r-3/ r-4;
              grid-column: c-2 / c-3;
              @include every-item();
            }
            &--item-5 {
              grid-row: r-5 / r-6;
              grid-column: c-1 / c-2;

              @include every-item();
            }
            &--item-6 {
              grid-row: r-5 / r-6;
              grid-column: c-2 / c-3;
              @include every-item();
            }
            &--item-7 {
              grid-row: r-6 / r-7;
              grid-column: c-1 / c-2;
              @include every-item();
            }
            &--item-8 {
              grid-row: r-6 / r-7;
              grid-column: c-2 / c-3;
              @include every-item();
            }
            &--item-9 {
              grid-row: r-8 / r-9;
              grid-column: c-1 / c-2;

              @include every-item();
            }
            &--item-10 {
              grid-row: r-8 / r-9;
              grid-column: c-2 / c-3;
              @include every-item();
            }
            &--item-11 {
              grid-row: r-9 / r-10;
              grid-column: c-1 / c-2;
              @include every-item();
            }
            &--item-12 {
              grid-row: r-9 / r-10;
              grid-column: c-2 / c-3;
              @include every-item();
            }
          }
        }
        &--dokumenty {
          &--tytul {
            display: grid;
            grid-row: r-3 / r-4;
            grid-column: c-7 / c-11;
            position: relative;
            // font-size: 2rem;
            // color: green;

            @include tytul-klocek;
          }
          &--content-umowy-i-regulaminy {
            display: grid;
            grid-row: r-4 / r-6;
            grid-column: c-7 / c-11;

            grid-auto-flow: row;

            grid-template-rows:
              [r-1] 6rem
              [r-2] 6rem
              [r-3] 6rem
              [r-4] 6rem
              [r-5];
            grid-template-columns:
              [c-1] 1fr
              [c-2];
            // row-gap: 1.5rem;

            &--item {
              display: grid;
              grid-auto-flow: column;
              // background-color: yellow;
              // height: 5rem;
              font-size: 3.2vw;
              color: rgb(71, 71, 71);
              font-weight: normal;
              align-self: center;
              justify-self: start;
              // align-content: center;
              column-gap: 1rem;
              transition: all 0.5s;
              &:hover {
                transform: scale(1.05);
                transition: transform 0.5s;
              }
              @media (orientation: landscape) {
                font-size: max(1.6vh, 2rem);
                & svg {
                  font-size: 6vh;
                  margin: 0 2vh 0 0;
                }
              }
              //descendatn selector to sztosik protip1 \/
              & svg {
                align-self: center;
              }
              & a {
                color: rgb(71, 71, 71);
              }
              &a:link,
              :visited,
              :active,
              :hover {
                text-decoration: none;
                color: rgb(71, 71, 71);
              }
            }
          }
        }
        &--linia-srodkowa {
          display: grid;
          grid-row: r-4 / r-6;
          grid-column: c-6 / c-7;

          background-color: #bd99ca;
          justify-content: center;
          justify-self: center;
          align-content: center;
          align-self: center;

          width: 0.2rem;
          height: 92%;
          align-self: start;
        }
      }
    }
  }
}
