//
//~~ _.  Globally used fonts and font characteristics - locally used fonts and characteristics are in their specific files, where they are used
//
$font-family-primary: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;

$font-size-sm: min(1.8rem, 2.4vw);
$font-size-between-sm-and-md: min(2rem, 3.45vw);
$font-size-md: min(2rem, 4vw);
$font-size-lg: min(2.8rem, 5.7vw);
$font-size-xl: min(3.75rem, 7vw);
$font-size-xxl: min(5rem, 10vw);

$font-weight-normal: 300;
$font-weight-bold: 600;

$line-height-sm: 1.5;
$line-height-md: 2;

$letter-spacing-sm: 0.05em;
$letter-spacing-md: 0.1em;
