/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.carousel {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide-active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.carousel-foty-infiniti {
  display: grid;
  grid-template-areas: "aaa bbb ccc";
  grid-template-rows: 1fr;
  grid-template-columns: minmax(5rem, 10rem) minmax(5rem, max-content) minmax(5rem, 10rem);
  justify-content: center;
  align-items: center;
}
.carousel-foty-infiniti__arrow-right {
  grid-area: ccc;
  align-self: center;
  justify-self: center;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  user-select: none;
}
.carousel-foty-infiniti__arrow-left {
  grid-area: aaa;
  font-size: 3rem;
  color: #000;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  user-select: none;
}
.carousel-foty-infiniti__slide {
  grid-area: bbb;
  opacity: 0;
  transition-duration: 1s ease;
}
.carousel-foty-infiniti__slide-active {
  grid-area: bbb;
  opacity: 1;
  transition-duration: 1s;
}

.carousel-poziomy {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-poziomy__poziom--2 {
  background-color: rgb(246, 254, 8);
}
.carousel-poziomy__poziom--1 {
  background-color: rgb(184, 35, 35);
}
.carousel-poziomy__poziom--0 {
  background-color: rgb(122, 43, 12);
}
.carousel-poziomy__poziom--minus1 {
  background-color: rgb(43, 23, 23);
  color: white;
}
.carousel-poziomy__slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.carousel-poziomy__slide-active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.accordion__trigger-od-niego {
  width: 5rem;
  height: 5rem;
}

.animation__slide-in {
  width: 800px;
  height: 400px;
  animation: slidein 4s forwards;
  animation-iteration-count: 1;
}
.animation__slide-in2 {
  width: 800px;
  height: 400px;
  animation: slidein2 4s forwards;
  animation-iteration-count: 1;
}
.animation__slide-in3 {
  width: 800px;
  height: 400px;
  animation: slidein3 4s forwards;
  animation-iteration-count: 1;
}
.animation__slide-in4 {
  width: 800px;
  height: 400px;
  animation: slidein4 4s forwards;
  animation-iteration-count: 1;
}

@keyframes slidein {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}
@keyframes slidein2 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}
@keyframes slidein3 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}
@keyframes slidein4 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}
.image__modified-color--darken {
  background-color: black;
}

.eksperymentalny {
  background-color: rgb(224, 123, 60);
}

.box {
  height: 100px;
  width: 100px;
  transition: all 2s;
  background-color: rgb(115, 219, 157);
}
.box--violet {
  transition: all 2s;
  background-color: rgb(125, 14, 97);
}
.box--animated {
  animation: mymove 2s;
}

@keyframes mymove {
  0% {
    height: 100px;
  }
  50% {
    height: 200px;
  }
  100% {
    height: 100px;
  }
}
.navbar {
  background-color: rgb(159, 37, 159);
}

.footer {
  background-color: rgb(14, 163, 126);
}

.layout__strona-glowna__cala-strona {
  display: grid;
  grid-template-areas: "bbb bbb bbb bbb bbb bbb bbb bbb bbb bbb bbb bbb" "ccc ccc ccc ccc ccc ccc ccc ccc ccc ccc ccc ccc" "ddd ddd ddd ddd ddd ddd ddd ddd ddd ddd ddd ddd" "eee eee eee eee eee eee eee eee eee eee eee eee" "fff fff fff fff fff fff fff fff fff fff fff fff " "ggg ggg ggg ggg ggg ggg ggg ggg ggg ggg ggg ggg ";
  grid-template-rows: minmax(5rem, max-content) minmax(5rem, max-content) minmax(5rem, max-content) repeat(3, minmax(5rem, max-content));
  grid-template-columns: 1rem 1rem repeat(8, minmax(2rem, 14rem)) 1rem 1rem;
}
.layout__strona-glowna__navbar {
  background-color: #e5dd99;
  z-index: 100;
}
.layout__strona-glowna__baner-startowy {
  grid-area: bbb;
  display: grid;
  grid-template-areas: "bb1";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-color: rgba(64, 175, 255, 0.4784313725);
  position: relative;
}
.layout__strona-glowna__baner-startowy--fota-w-tle {
  grid-area: bb1;
  opacity: 1;
  z-index: -1;
}
.layout__strona-glowna__baner-startowy--paski-i-ikonki {
  grid-area: bb1;
  z-index: 0;
}
.layout__strona-glowna__galeria {
  grid-area: ccc;
  display: grid;
  grid-template-areas: "cc1";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-color: #219f97;
}
.layout__strona-glowna__opis-i-rysunek {
  grid-area: ddd;
  display: grid;
  grid-template-areas: "dd1";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-color: #259f21;
}
.layout__strona-glowna__poziomy-i-oddzielnik {
  grid-area: eee;
  display: grid;
  grid-template-areas: "ee1" "ee2" "ee3";
  grid-template-rows: repeat 3, minmax(5rem, max-content);
  grid-template-columns: 1fr;
  background-color: #cf95e7;
}
.layout__strona-glowna__poziomy-i-oddzielnik__prostokat {
  grid-area: ee3;
  background-color: #685e58;
}
.layout__strona-glowna__poziomy-i-oddzielnik__prostokat---aktywny {
  background-color: #7b219f;
}
.layout__strona-glowna__godziny-otwarcia {
  grid-area: fff;
  display: grid;
  grid-template-areas: "ff1 ff1 ff1" "ff2 ff2 ff2" "ff3 ff3 ff3";
  grid-template-rows: repeat 3, minmax(5rem, max-content);
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #e39c40;
}
.layout__strona-glowna__rysunek-ekipa {
  grid-area: ggg;
  display: grid;
  grid-template-areas: "gg1" "gg2";
  grid-template-rows: repeat(2, minmax(5rem, max-content));
  grid-template-columns: 1fr;
  background-color: #abe31e;
}

.parent-Y {
  height: 10vh;
  width: 100%;
  position: relative;
  background-color: rgb(228, 195, 167);
}

.child-X {
  position: absolute;
  top: 5vh;
  left: 10%;
  background-color: rgb(187, 228, 167);
}

.layout-strona-glowna__cala-strona {
  display: grid;
  grid-template-areas: "ccc ccc ccc ccc ccc ccc ccc ccc ccc ccc ccc ccc" ". . bbb bbb bbb bbb bbb bbb bbb bbb . ." ". . eee eee eee eee eee eee eee eee . ." ". . ddd ddd ddd ddd ddd ddd ddd ddd . ." "fff fff fff fff fff fff fff fff fff fff fff fff" ". . ggg ggg ggg ggg ggg ggg ggg ggg . ." ". . jjj jjj jjj jjj jjj jjj jjj jjj . ." ". . hhh hhh hhh hhh hhh hhh hhh hhh . ." "iii iii iii iii iii iii iii iii iii iii iii iii" ". foot . . . . . . . . nav .";
  grid-template-rows: 100vh repeat(4, minmax(5rem, max-content)) 75vh repeat(4, minmax(5rem, max-content));
  grid-template-columns: 1fr 0.5rem repeat(8, minmax(2rem, 14rem)) 0.5rem 1fr;
}
.layout-strona-glowna__navbar-gorny {
  grid-area: aaa;
  background-color: #8ca0ff;
  display: grid;
  grid-template-areas: ". aa1 . aa2 aa3 aa4 aa5 aa6 aa7 aa8 aa9 .";
  grid-template-rows: 5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.layout-strona-glowna__navbar-gorny__III--open {
  background-color: greenyellow;
}
.layout-strona-glowna__navbar-gorny__III--closed {
  display: none;
}
.layout-strona-glowna__navbar-gorny__X--open {
  background-color: greenyellow;
}
.layout-strona-glowna__navbar-gorny__X--closed {
  display: none;
}
.layout-strona-glowna__navbar-gorny--logo-infiniti {
  grid-area: aa1;
  background-color: #cfc7a7;
  font-size: 1.4rem;
  justify-self: center;
  align-self: center;
  color: #685e58;
  font-weight: bold;
}
.layout-strona-glowna__navbar-gorny--o-nas {
  grid-area: aa2;
  background-color: #e5c131;
  font-size: 1.4rem;
  justify-self: center;
  align-self: center;
  color: #685e58;
  font-weight: bold;
}
.layout-strona-glowna__navbar-gorny--infiniti-medical {
  grid-area: aa3;
  font-size: 1.4rem;
  justify-self: center;
  align-self: center;
  color: #685e58;
  font-weight: bold;
}
.layout-strona-glowna__navbar-gorny--galeria {
  grid-area: aa4;
  font-size: 1.4rem;
  justify-self: center;
  align-self: center;
  color: #685e58;
  font-weight: bold;
}
.layout-strona-glowna__navbar-gorny--kadra {
  grid-area: aa5;
  font-size: 1.4rem;
  justify-self: center;
  align-self: center;
  color: #685e58;
  font-weight: bold;
}
.layout-strona-glowna__navbar-gorny--cennik {
  grid-area: aa6;
  font-size: 1.4rem;
  justify-self: center;
  align-self: center;
  color: #685e58;
  font-weight: bold;
}
.layout-strona-glowna__navbar-gorny--grafik {
  grid-area: aa7;
  font-size: 1.4rem;
  justify-self: center;
  align-self: center;
  color: #685e58;
  font-weight: bold;
}
.layout-strona-glowna__navbar-gorny--do-pobrania {
  grid-area: aa8;
  font-size: 1.4rem;
  justify-self: center;
  align-self: center;
  color: #685e58;
  font-weight: bold;
}
.layout-strona-glowna__navbar-gorny--kontakt {
  grid-area: aa9;
  font-size: 1.4rem;
  justify-self: center;
  align-self: center;
  color: #685e58;
  font-weight: bold;
}
.layout-strona-glowna__animowany-slide-in-fot-infiniti {
  grid-area: ccc;
  background-color: #8cffb6;
  position: relative;
}
.layout-strona-glowna__animowany-slide-in-fot-infiniti--miejsce-na-foty {
  width: 100%;
  height: 100%;
}
.layout-strona-glowna__foty-marketingowe {
  grid-area: bbb;
  display: grid;
  grid-template-areas: "bb1 bb2";
  grid-template-rows: minmax(5rem, max-content);
  grid-template-columns: 1fr 1fr;
  transform: translate(0, -11rem);
}
.layout-strona-glowna__foty-marketingowe--lewa-fota {
  grid-area: bb1;
}
.layout-strona-glowna__foty-marketingowe--prawa-fota {
  grid-area: bb2;
}
.layout-strona-glowna__poziomy-infiniti-tytul-gorny {
  grid-area: eee;
  display: grid;
  grid-template-areas: "eee1 eee2 eee3";
  grid-template-columns: 1fr max-content 1fr;
  position: relative;
}
.layout-strona-glowna__poziomy-infiniti-tytul-gorny--tlo-pattern-lewo {
  grid-area: eee1;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  transform: translate(-6rem, -6rem);
}
.layout-strona-glowna__poziomy-infiniti-tytul-gorny--tlo-pattern-prawo {
  grid-area: eee3;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  transform: translate(6rem, -6rem);
}
.layout-strona-glowna__poziomy-infiniti-tytul-gorny--napis {
  grid-area: eee2;
  color: #4d4d4d;
  font-weight: 400;
  font-size: 3rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  z-index: 1;
}
.layout-strona-glowna__poziomy-infiniti-tytul-gorny--pattern-w-tle-lewy {
  grid-area: eee1;
  background-image: url("https://infiniti-fit.pl/wp-content/plugins/designthemes-core-features/shortcodes/images/title-pattern.png");
  background-repeat: repeat-x;
  background-position: center;
  z-index: 1;
}
.layout-strona-glowna__poziomy-infiniti-tytul-gorny--pattern-w-tle-prawy {
  grid-area: eee3;
  background-image: url("https://infiniti-fit.pl/wp-content/plugins/designthemes-core-features/shortcodes/images/title-pattern.png");
  background-repeat: repeat-x;
  background-position: center;
  z-index: 1;
}
.layout-strona-glowna__poziomy-infiniti-levle {
  grid-area: ddd;
  display: grid;
  grid-template-areas: "ddd_1 ddd_2 ddd_3 ddd_4 ddd_5 ddd_6 ddd_7 ddd_8";
  grid-template-rows: min-content;
  grid-template-columns: max-content 1fr max-content 1fr max-content 1fr max-content 1fr;
  padding-top: 4rem;
  padding-bottom: 6rem;
}
.layout-strona-glowna__poziomy-infiniti-levle--minus-1--fota {
  grid-area: ddd_1;
}
.layout-strona-glowna__poziomy-infiniti-levle--minus-1--napis {
  grid-area: ddd_2;
  font-size: 2rem;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  margin-right: 70px;
  padding-left: 10px;
  padding-top: 5px;
  color: #3c261b;
  z-index: 1;
}
.layout-strona-glowna__poziomy-infiniti-levle--0--fota {
  grid-area: ddd_3;
}
.layout-strona-glowna__poziomy-infiniti-levle--0--napis {
  grid-area: ddd_4;
  font-size: 2rem;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  margin-right: 70px;
  padding-left: 10px;
  padding-top: 5px;
  color: #3c261b;
  z-index: 1;
}
.layout-strona-glowna__poziomy-infiniti-levle--1--fota {
  grid-area: ddd_5;
}
.layout-strona-glowna__poziomy-infiniti-levle--1--napis {
  grid-area: ddd_6;
  font-size: 2rem;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  margin-right: 70px;
  padding-left: 10px;
  padding-top: 5px;
  color: #3c261b;
  z-index: 1;
}
.layout-strona-glowna__poziomy-infiniti-levle--2--fota {
  grid-area: ddd_7;
}
.layout-strona-glowna__poziomy-infiniti-levle--2--napis {
  grid-area: ddd_8;
  font-size: 2rem;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  margin-right: 70px;
  padding-left: 10px;
  padding-top: 5px;
  color: #3c261b;
  z-index: 1;
}
.layout-strona-glowna__efitness-app {
  grid-area: fff;
  position: relative;
  background-color: #f4f4f4;
  display: grid;
  grid-template-areas: "ff1 ff2 ff2" "ff1 ff3 ff4";
  grid-template-rows: min-content min-content;
  grid-template-columns: 50% 20% 20%;
}
.layout-strona-glowna__efitness-app--tlo {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.layout-strona-glowna__efitness-app--lewa-fota--telefony {
  z-index: 1;
  grid-area: ff1;
  width: 80%;
  position: relative;
  top: 8%;
  left: 14%;
}
.layout-strona-glowna__efitness-app--prawa-fota--opis-tytul {
  z-index: 1;
  grid-area: ff2;
  font-size: 2.7rem;
  font-weight: normal;
  color: rgb(43, 41, 41);
  align-self: end;
}
.layout-strona-glowna__efitness-app--prawa-fota--opis-punkty {
  z-index: 1;
  grid-area: ff2;
  font-size: 1.5rem;
  list-style: none;
}
.layout-strona-glowna__efitness-app--prawa-fota--app-store {
  z-index: 1;
  grid-area: ff3;
  align-self: start;
  padding-top: 5rem;
}
.layout-strona-glowna__efitness-app--prawa-fota--google {
  z-index: 1;
  grid-area: ff4;
  padding-top: 5rem;
  align-self: start;
}
.layout-strona-glowna__godziny-otwarcia {
  grid-area: ggg;
  background-color: #cfc7a7;
  display: grid;
  grid-template-areas: "gg1 gg2";
  grid-template-rows: 10rem;
  grid-template-columns: 1fr 1fr;
}
.layout-strona-glowna__godziny-otwarcia--sauna {
  grid-area: gg1;
  display: grid;
  grid-template-areas: "gg1_1" "gg1_2";
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr;
}
.layout-strona-glowna__godziny-otwarcia--sauna--tytul-napis {
  grid-area: gg1_1;
}
.layout-strona-glowna__godziny-otwarcia--sauna--lista-plci {
  grid-area: gg1_2;
  display: grid;
  grid-template-rows: repeat(4, minmax(0.25rem, min-content));
  grid-template-columns: 1fr;
}
.layout-strona-glowna__godziny-otwarcia--sauna--lista-plci--accordion--open {
  display: grid;
  grid-template-rows: repeat(4, minmax(0.25rem, min-content));
  grid-template-columns: 1fr 3fr 2fr;
}
.layout-strona-glowna__godziny-otwarcia--sauna--lista-plci--accordion--closed {
  display: none;
}
.layout-strona-glowna__godziny-otwarcia--sauna--lista-plci--mezczyzni {
  display: grid;
  grid-template-areas: "g g";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 5fr;
}
.layout-strona-glowna__godziny-otwarcia--sauna--lista-plci--kobiety {
  display: grid;
  grid-template-areas: "g g";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 5fr;
}
.layout-strona-glowna__godziny-otwarcia--sauna--lista-plci--koedukacja {
  display: grid;
  grid-template-areas: "g g";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 5fr;
}
.layout-strona-glowna__godziny-otwarcia--klub {
  grid-area: gg2;
}
.layout-strona-glowna__partnerzy-tytul-gorny {
  grid-area: jjj;
  background-color: #83beeb;
}
.layout-strona-glowna__partnerzy-animowany-slide-in {
  grid-area: hhh;
  background-color: #1a2c91;
}
.layout-strona-glowna__newsletter {
  grid-area: iii;
  background-color: #e5a51c;
  display: grid;
  grid-template-areas: "iii_1 iii_2";
  grid-template-rows: 10rem;
  grid-template-columns: 3fr 9fr;
}
.layout-strona-glowna__newsletter--lewy-shape {
  grid-area: iii_1;
  display: grid;
  grid-template-areas: "iii_1_a";
  grid-template-rows: 10rem;
  grid-template-columns: 1fr;
}
.layout-strona-glowna__newsletter--lewy-shape--napis {
  grid-area: iii_1_a;
}
.layout-strona-glowna__newsletter--prawy-shape {
  grid-area: iii_2;
  display: grid;
  grid-template-areas: "iii_2_a iii_2_b";
  grid-template-rows: 10rem;
  grid-template-columns: 3fr 9fr;
}
.layout-strona-glowna__newsletter--prawy-shape--input-email {
  grid-area: iii_2_a;
}
.layout-strona-glowna__newsletter--prawy-shape--button-zapisz-sie {
  grid-area: iii_2_b;
}

.grid--1row-2col {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, min-content);
}
.grid__typ-rozmiaru--6rows-1col {
  display: grid;
  grid-template-columns: min-content 80px 1fr repeat(3, min-content);
}
.grid__element--1 {
  background-color: rgb(70, 181, 22);
}
.grid__element--2 {
  background-color: rgb(70, 22, 181);
}

/*# sourceMappingURL=styles-all.css.map */
